// Callout
$color-callout-general: $color-turquoise;
$color-callout-instructional-background: $color-grey-pale;

// Panels
$color-panel-background: $color-grey-pale;
$color-panel-footer-background: $color-white;
