
%font-body {
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
}

%font-heading-medium {
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
}

%font-heading-heavy {
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}

