.popup-tip__container {
  .js & {
    border-color: $color-blue-bright;
  }
}

.popup-tip__content {
  .js & {
    @include respond-to($mq-m) {
      padding: $baseline-unit;
    }
  }
}

.popup-tip__title--no-js {
  display: inline;

  .js & {
    display: none;
  }
}
