// Callout
$color-callout-general: $color-blue-bright;
$color-callout-tool: $color-orange-medium;
$color-callout-instructional-background: $color-grey-pale;
$color-callout-warning: $color-yellow-light;

// Panels
$color-panel-background: $color-grey-pale;
$color-panel-footer-background: $color-white;
