.l-context-bar {
  display: none;

  @include respond-to($mq-m) {
    display: block;
    background-color: $breadcrumbs-background-color;
    padding-top: $baseline-unit*3;
    padding-bottom: $baseline-unit*3;

    .breadcrumbs,
    .related-categories {
      @include column(12);
    }
  }
}
