.l-contact-panels {
  overflow: hidden;
  position: relative;
  height: auto;
  margin-top: 40px;
  border-top: $default-border-thin;
  display: flex;
  flex-direction: column;

  @include respond-to($mq-l) {
    flex-direction: row;

    & > *:not(:last-child):after {
      content: '';
      position: absolute;
      top: 0;
      right: -5.7%;
      border-right: 1px solid $color-newsletter-input-border;
      width: 1px;
      height: 100%;
    }
  }
}

.l-contact-panels--no-border-top {
  margin-top: 40px;
  border-top: 0;
}

.l-contact-panels--homepage {
  border-top: 0;
  margin-top: 0;
}

.l-contact-panel {
  width: 100%;
  margin: 0;
  display: inline-block;

  @include respond-to($mq-l) {
    @include column(4);
    display: flex;
    position: relative;

    &>* {
      flex-grow: 2;
    }
  }
}
