.covid_banner {
	position: fixed;
	width: 100%;
	bottom: $baseline-unit*2;
	padding-right: calc(76px + #{$default-gutter * 4}); 
	padding-left: $default-gutter; 
	z-index: 5; 
	transition: bottom .4s;

	@include respond-to($mq-s) {
		padding-right: calc(76px + #{$default-gutter * 2}); 		
	}

	@include respond-to($mq-l) {
		padding-left: 0; 
		padding-right: 0; 
	}

	&.covid_banner--raised {
		bottom: 55px;
	}
}

.covid_banner--hidden {
	display: none;
}

.covid_banner__content {
	width: 100%; 
	padding: 0 $default-gutter * 2;
	border-radius: .15em;
	background: $color-yellow-light;

	@include respond-to($mq-m) {
		padding-left: $default-gutter;
		padding-right: $default-gutter;
	}

	@include respond-to($mq-l) {
		@include column(12); 
	}
}

.covid_banner__inner {
	display: flex; 
	flex-direction: column;
	justify-content: center;
	height: 70px; 
	position: relative; 
}

.covid_banner__close {
	display: none; 
	position: absolute; 
	top: $baseline-unit * 2;
	right: 0; 

	.js & {
		display: block; 
	}
}

.svg-icon--mobile-close-box {
	width: 12.291px; 
	height: 11.878px; 
}

.covid_banner__head, 
.covid_banner__body {
	margin: 0;
	line-height: 1.2; 
}

.covid_banner__head {
	font-size: 1rem; 
	font-weight: bold; 
	padding-right: calc(12.291px + #{$default-gutter * 2}); 

	@include respond-to($mq-s) {
		font-size: 1.125rem; 
	}
}

.covid_banner__body {
	font-size: 0.75rem;  

	a {
		text-decoration: underline;
	}
}
