.l-footer {
  position: relative; // Fixes Safari bug so please don't remove
}

.l-footer-primary {
  background-color: $color-footer-bg;

  .l-constrained {
    position: relative;
  }
}

.l-footer-primary__left {
  @include column(12);
  margin-top: $baseline-unit * 3;

  @include respond-to($mq-s-max) {
    @include column(6);
    margin-top: $baseline-unit * 6;
  }

  @include respond-to($mq-s-max) {
    @include column(6);
  }
}

.l-footer-primary__right {
  text-align: center;

  @include respond-to($mq-s-max) {
    @include column(6);
  }
}

.l-footer-primary__list {
  @extend %clearfix;
  @extend .unstyled-list;
  @include column(12);
  margin-top: $baseline-unit;
  margin-bottom: $baseline-unit * 2;
  text-align: left;

  @include respond-to($mq-s) {
    @include column(8);

    margin-bottom: $baseline-unit * 4;
  }

  @include respond-to($mq-m) {
    margin-top: $baseline-unit * 6;
  }
}

.l-footer-primary__social-sharing {
  @mixin counter-inline() {
    text-align: left;

    .button {
      position: absolute;
    }

    .social-sharing__counter {
      position: relative;
      top: 27.5px;
      transform: translateY(-50%);
      margin: 0 0 0 55px;
      padding: 0 0 0 10px;
    }

    .footer-primary__list-item {
      position: absolute;
      top: 50%;
      margin-top: -27.5px;
    }
  }

  .button,
  .button:active,
  .button:focus {
    border-bottom: none;
    border-radius: 50%;
    border: none;
  }

  .social-sharing__counter {
    margin: $baseline-unit 0;
    color: $color-black;
    display: none;

    @include respond-to($mq-s) {
      display: block;
    }
  }

  margin-top: 0;
  padding-left: 0;
  text-align: center;

  @include respond-to($mq-xl) {
    @include counter-inline;
  }

  .twitter-link,
  .twitter-link:active,
  .twitter-link:focus {
    background: $color-twitter;
    padding: 12.5px 10.541px; // (($icon-size - 17px) / 2) (($icon-size - (184.573px * (17 / 150))) / 2);
    vertical-align: bottom;

    @include respond-to($mq-s) {
      padding: 19px 17.041px; // (($icon-size-mq-s - 17px) / 2) (($icon-size-mq-s - (184.573px * (17 / 150))) / 2);
    }

    &:hover {
      background: $color-twitter-hover;
    }
  }

  .facebook-link,
  .facebook-link:active,
  .facebook-link:focus {
    background: $color-facebook;
    padding: 10px 15.288px; // (($icon-size - 22px) / 2) (($icon-size - (77.8924px * (22 / 150))) / 2);
    vertical-align: bottom;

    @include respond-to($mq-s) {
      padding: 16.5px 21.788px; // (($icon-size-mq-s - 22px) / 2) (($icon-size-mq-s - (77.8924px * (22 / 150))) / 2);
    }

    &:hover {
      background: $color-facebook-hover;
    }
  }

  .youtube-link,
  .youtube-link:active,
  .youtube-link:focus {
    background: $color-youtube;
    padding: 12px 8.204px; // (($icon-size - 18px) / 2) (($icon-size - (213.264px * (18 / 150))) / 2);
    vertical-align: bottom;

    @include respond-to($mq-s) {
      padding: 18.5px 14.704px; // (($icon-size-mq-s - 18px) / 2) (($icon-size-mq-s - (213.264px * (18 / 150))) / 2);
    }

    &:hover {
      background: $color-youtube-hover;
    }
  }
}

.social-sharing__counter__total {
  font-weight: bold;
  display: block;
  @include body(24, 24);

  @include respond-to($mq-l) {
    @include body(30, 30);
  }
}

.social-sharing__counter__label {
  display: block;
  @include body(14, 14);
}

.l-footer-primary__list--left {
  float: left;
  min-height: 42px;
  margin-right: $baseline-unit;
  margin-bottom: $baseline-unit;
  overflow: hidden;

  @include respond-to($mq-s) {
    @include column(4);
    min-height: 55px;
  }
}

.l-footer-primary__list--centre {
  float: left;
  min-height: 42px;
  margin-right: $baseline-unit;
  margin-bottom: $baseline-unit;
  overflow: hidden;

  @include respond-to($mq-s) {
    @include column(4);
    min-height: 55px;
  }
}

.l-footer-primary__list--right {
  float: left;
  min-height: 42px;
  margin-right: $baseline-unit;
  margin-bottom: $baseline-unit;
  overflow: hidden;

  @include respond-to($mq-s) {
    @include column(4);
    min-height: 55px;
  }

  .footer-primary__list-item {
    line-height: 1;
  }
}

.footer-primary__corporate-link {
  float: left;
  margin-right: $baseline-unit;
  padding-right: $baseline-unit;
  border-right: solid 1px;

  @include respond-to($mq-s) {
    width: 50%;
    margin-right: 0;
    padding-right: 0;
    border-right: none;
  }
}

.footer-primary__corporate-link:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.footer-primary__blog {
  @include column(4);

  margin-top: $baseline-unit;

  @include respond-to($mq-s) {
    margin-bottom: $baseline-unit * 4;
  }

  @include respond-to($mq-m) {
    margin-top: $baseline-unit * 6;
  }

  text-align: center;
}

.footer-primary__blog-link {
  @include column(12);
  width: 5em;

  position: absolute;
  top: 0;
  right: 0;
  margin-top: $baseline-unit * 3;

  @include respond-to($mq-s) {
    position: static;
  }
}

.footer-primary__blog-link,
.footer-primary__blog-link:visited,
.footer-primary__blog-link:focus,
.footer-primary__blog-link:active {
  @include body(18, 18);
  background: $color-mas-blog-blue;
  border-radius: 5px;
  border-bottom: none;
  color: $color-mas-blog-button;
  font-weight: 700;
  padding: $baseline-unit * 2 px(12);
  text-transform: uppercase;
  text-decoration: none;
  float: none;
  display: block;

  @include respond-to($mq-s) {
    margin: 0 auto;
  }
}

.footer-primary__blog-link:hover {
  text-decoration: none;
  background-color: $color-mas-blog-blue-hover;
  color: $color-mas-blog-button;
}

.footer-primary__clear-english {
  @include column(12);

  margin-bottom: $baseline-unit * 4;

  @include respond-to($mq-s) {
    @include column(4);

    float: right;
  }

  .theme-cy & {
    display: none;
  }
}

.footer-primary__clear-english-link {
  display: inline-block;

  @include respond-to($mq-s) {
    &:focus {
      background: none;
    }
  }
}

.footer-primary__clear-english-text {
  line-height: 1;

  & > * {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
  }

  @include respond-to($mq-s) {
    display: none;
  }
}

.l-footer-secondary {
  overflow: hidden;
  color: $color-text-icon;
  background-color: $color-maps-blue;
  position: relative; // fix white space issue in Safari

  .l-footer-authentication-link {
    @include respond-to($mq-xl) {
      display: none;
    }

    > form {
      @include inline-block;
    }
  }

  .l-language-link {
    @include respond-to($mq-l) {
      display: none;
    }
  }
}

.l-footer-secondary--inner {
  @include column(12);
}

.l-footer-secondary__list--left {
  @include respond-to($mq-l) {
    float: left;
  }
}

.l-footer-secondary__list--right {
  @include respond-to($mq-l) {
    text-align: right;
    float: right;
  }
}
