$height_s: $maps_bannerHeight_s - ($maps_bannerMargin * 2);
$height_m: $maps_bannerHeight_m - ($maps_bannerMargin * 4);
$height_l: $maps_bannerHeight_l - ($maps_bannerMargin * 4);
$width_s: $height_s / 202.23px * 634.92px;
$width_m: $width_s * $height_m / $height_s;
$width_l: $width_s * $height_l / $height_s;

.l-maps_banner {
  position: fixed;
  width: 100%;
  z-index: 10;
  background: $color-maps-blue;

  @include respond-to($mq-m) {
    position: relative;
  }

  &.l-maps_banner--non-sticky {
    position: static;
  }

  a {
    color: $color-white;

    &:focus,
    &:hover {
      background: transparent;
    }
  }
}

.l-maps_banner__content {
  @include column(12);

  height: $maps_bannerHeight_s;
  padding: $maps_bannerMargin 0;

  .l-maps_banner--home & {
    height: $maps_bannerHeight_m;
    padding: $maps_bannerMargin 0;

    @include respond-to($mq-l) {
      height: $maps_bannerHeight_l;
      padding: $maps_bannerMargin 0;
    }
  }
}

.maps_banner__mps-logo {
  height: $height_s;
  width: $width_s;
  margin-left: 10px;
  background-size: $width_s $height_s;
  background-repeat: no-repeat;
  background-image: image_url('yeast/assets/images/mps-logo-en.png');

  .svg & {
    background-image: image_url('yeast/assets/images/svgs/MAPS_en.svg');
  }

  .theme-cy & {
    background-image: image_url('yeast/assets/images/mps-logo-cy.png');
  }

  .l-maps_banner--home & {
    height: $height_m;
    width: $width_m;
    background-size: $width_m $height_m;

    @include respond-to($mq-l) {
      height: $height_l;
      width: $width_l;
      background-size: $width_l $height_l;
    }
  }
}

.maps_banner__link {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
}

.maps_banner__mps-text {
  display: inline-block;
  float: left;
  text-align: right;
  font-size: 0.625rem;
  line-height: 1;

  .l-maps_banner--home & {
    font-size: 0.6875rem;

    @include respond-to($mq-l) {
      font-size: 0.75rem;
    }
  }

  & > span {
    display: block;
  }
}
